header {
    background-color: var(--midcolor);
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    font-size: 5rem;
    color: var(--wcolor);
}

.newcustomer-navbar {
    background-color: var(--midcolor);
    margin: 0rem 1rem 1rem 1rem;
    padding: 0rem;
    text-align: center;
}

.newcustomer-navbar a {
    text-decoration: none;
}

.nav-div-new-cus {
    padding: 1rem;
    font-size: 1.2rem;
    color: var(--wcolor);
}