header {
    background-color: var(--midcolor);
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    font-size: 5rem;
    color: var(--wcolor);
}

#stats {
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
}

.stat-box {
    background-color: var(--midcolor);
    padding: 1rem;
    margin: 0rem 0.5rem;
    text-align: center;
}

.stat-box-heading {
    background-color: var(--acccolor);
    padding: 1rem;
    font-size: 1.5rem;
}

.stat-box-info {
    padding: 0.5rem;
    /* background-color: var(--acccolor); */
    margin: 1rem 0rem 0rem;
    color: var(--wcolor);
    font-size: 1.5rem;
}