:root {
    --bgcolor: #27374D;
    --bgmidcolor: #324868;
    --midcolor: #526D82;
    --acccolor: #9DB2BF;
    --wcolor: #DDE6ED;
}

body {
    background-color: var(--bgcolor);
}

#accommodation_name {
    text-align: center;
    font-size: 6rem;
    background-color: var(--midcolor);
    color: var(--wcolor);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2rem;
    margin-bottom: 1rem;
}

.accommodation_name {
    text-align: center;
    font-size: 4rem;
    background-color: var(--midcolor);
    color: var(--wcolor);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem;
    margin-bottom: 1rem;
}

.navbar-home {
    background-color: var(--midcolor);
    padding: 0rem 0rem;
    overflow: hidden;
}

.add-cus-div {
    padding: 1rem 0rem;
}

.navbar-newcus {
    background-color: var(--midcolor);
    margin-top: 1rem;
    text-align: center;
}

.navbar-newcus:hover {
    background-color: var(--bgmidcolor);
}

.navbar-newcus a {
    text-decoration: none;
    color: var(--wcolor);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
}

.active-navbar {
    background-color: var(--wcolor);
    color: var(--bgcolor);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    float: left;
}

.nonactive-navbar {

    color: var(--wcolor);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    float: left;
}

.nonactive-navbar:hover {
    background-color: var(--bgmidcolor);
}

.counter-home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.counter-home div {
    background-color: var(--midcolor);
    margin: 0rem 0.5rem 1rem 0.5rem;
    padding: 0rem 1rem;
}

.counter-home div p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.heading-counter {
    background-color: var(--wcolor);
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
}

.new-cus-container {
    background-color: var(--midcolor);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.new-cus-container div {
    padding: 0.2rem;
}

.new-cus-container input {
    width: 15rem;
    padding: 0.2rem;
}

.new-cus-container input::placeholder {
    font-style: italic;

}

.new-cus-container select {
    width: 15.6rem;
    padding: 0.2rem;
}
.heading-new-cus {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color: var(--wcolor);
}

.new-cus-button-div {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
    background-color: #526D82;
}

.new-cus-button-class {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--midcolor);
    border-color: var(--midcolor);
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--wcolor);
    border-style: solid;
}

.new-cus-button-class:hover {
    background-color: var(--bgmidcolor);
    border-color: var(--bgmidcolor);
}

.new-cus-button-class:active {
    background-color: var(--acccolor);
    border-color: var(--acccolor);
    color: var(--bgcolor);
}

#back-button-new-cus {
    background-color: var(--midcolor);
    margin: 0rem 0rem 1rem 0rem;
}

#back-button-new-cus a {
    color: var(--wcolor);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.3rem;
    display: block;
    width: 100%;
    text-align: center;
}